.rt60v8
{
	position:absolute;
	top:8px;
	right:60px;
}
.rt5v8
{
	position:absolute;
	top:8px;
	right:5px;
}
.rt60v2
{
	position:absolute;
	top:2px;
	right:60px;
}
.rt5v2
{
	position:absolute;
	top:2px;
	right:5px;
}
.rt100v2
{
	position:absolute;
	top:2px;
	right:100px;
}
.rt180v2
{
	position:absolute;
	top:2px;
	right:180px;
}
.rt260v2
{
	position:absolute;
	top:2px;
	right:260px;
}
.rt340v2
{
	position:absolute;
	top:2px;
	right:340px;
}
.rt420v2
{
	position:absolute;
	top:2px;
	right:420px;
}
.rt500v2
{
	position:absolute;
	top:2px;
	right:500px;
}
.rt5v28
{
	position:absolute;
	top:28px;
	right:5px;
}
.rt7v10
{
	position:absolute;
	top:10px;
	right:7px;
}
.rt2v0
{
	position:absolute;
	top:0px;
	right:2px;
}
.lt40v0
{
	position:absolute;
	top:0px;
	left:40px;
}
.lt40v2
{
	position:absolute;
	top:2px;
	left:40px;
}
.lt2v0
{
	position:absolute;
	top:0px;
	left:2px;
}
.color555
{
	color:#555;
}
.color777
{
	color:#777;
}
.f12px
{
	font-size:12px;	
}
.f14px
{
	font-size:14px;
}
.line1
{
	overflow:hidden;
	text-overflow:ellipsis; 
	white-space:nowrap;
	word-break:break-all;
	display:inline-block;	
}

.h154px
{
	height:154px;
}

.width90pre
{
	display:inline-block;
	width:80%;
}

.w100pre
{
	display:inline-block;
	width:100%;
}

.vtop
{
	vertical-align: top;
}

.fr
{
	float:right;
}

.fl
{
	float:left;
}
.fwn
{
	font-weight: normal;
}


.cred
{
	color:#a01200;
}

.c1
{
	color:#8f012c;
}
.c2
{
	color:#f5041d;
}
.c3
{
	color:#376a77;
}
.c4
{
	color:#e3236d;
}
.c5
{
	color:#cc1e5c;
}
.c6
{
	color:#044c82;
}
.c7
{
	color:#8f012c;
}

.lqc0
{
	color:#bbb;
}
.lqc1
{
	color:#aaa;
}
.lqc2
{
	color:#888;
}
.lqc3
{
	color:#666;
}
.lqc4
{
	color:#444;
}
.lqc5
{
	color:#222;
}
.lqc6
{
	color:#000;
}