#pageClass,.titleClass
{
	position:relative;
	margin:10px auto;
	width:100%;
}

#pageClass ul li
{
	position:relative;
	float:left;
	margin:0 2px;
	padding:0;
}

#pageClass ul
{
	padding:10px 0 35px 0;
}

#pageClass ul
{
	z-index:1;
	overflow:hidden;
	border: none;
}

#pageClass ul li a span
{
	display:none;
	width:100%;
}

#pageClass ul li a:hover span
{
	display:block;
}
#pageClass ul li a:hover
{
	text-decoration: none;
}

.celeimg_title
{
	font-size:14px;
	color:#fff;
	line-height:1.8;
	text-align:center;
	position:absolute;
	left:0px;
	bottom:0px;
	background:#333;
	-moz-opacity:.5;
	opacity:.5
}

.celeimg_name
{
	font-size:12px;
	text-align:center;
}

.tprev
{
	position:absolute; 
	z-index:4;
	color:#f00;
	font-size:22px;
	background:#ccc;
	top:68px;
	left:12px;
	width:25px;
	height:60px;
	opacity: 0.7;		
	-moz-border-radius: 0 12px 12px 0;
	-webkit-border-radius: 0 12px 12px 0;
	-webkit-transition: all .25s linear;
	transition: all .25s linear;	
}

.tnext
{
	position:absolute;
	z-index:3;
	color:#f00;
	font-size:22px;
	background:#ccc;
	top:68px;
	right:2px;
	width:25px;
	height:60px;
	opacity: 0.7;
	-moz-border-radius: 12px 0 0 12px;
	-webkit-border-radius:12px 0 0 12px;
	-webkit-transition: all .25s linear;
	transition: all .25s linear;	
}

.none {display:none;}

.TabTitle
{
	overflow: hidden;
	z-index:2;		
}

.TabTitlex
{
	position:absolute;
	top:10px;
	left:100px;	
}

.TabTitle ul
{
	list-style-type:none;
}
.TabTitle ul li
{	
	border:none;
	float:left;
	margin:0 10px 0 0;
	padding:0 5px;
}
.TabTitle .active
{
	background:#52686f;
	color:#fff;
	display:block;
	text-decoration:none;
	border:none;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-transition: all .15s linear;
	transition: all .15s linear
}

.TabContent
{
	position:relative;
}

.TabContent ul
{
	z-index:1;
	overflow:hidden;
}

.TabContent li
{
	height:26px;
}

.list
{
	position:absolute;
	top:0;
	left:0px;
}

.name
{
	position:absolute;
	top:0;
	left:35px;
	overflow:hidden;
	text-overflow:ellipsis; 
	white-space:nowrap;	
}

.week
{
	position:absolute;
	top:0;
	right:80px;	
}

.allaum
{
	position:absolute;
	top:0;
	right:0px;
}

.col2,.col3,.col4
{
	position:relative;
	width:100%;
	margin:0 0 10px 0;
	padding:8px;
}

.col1 li,.col2 li,.col3 li,.col4 li
{
	position:relative;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;	
}


.col2 li
{
	height:154px;
	float:left;
	width:48%;
	padding:5px;
	margin:0;
}

.col3 li
{
	height:154px;
	float:left;
	width:31%;
	padding:5px 10px;
	margin:0;
}

.col4 li
{
	width:23.5%;
	height:40px;	
	float:left;
	margin:0;
	white-space:nowrap;
	padding:5px;
	border: 1px solid transparent;
}

.col1 li
{
	height:65px;
	z-index:1;
	margin:0;
	padding:5px 0 0 5px;	
}

.hotmeta1
{
	font-size:12px;
	color:#777;
}

.highq
{
}

.list20px li
{
	height:20px;
}