#wrapper{
    margin: 0 auto;
    padding: 0;
	background:#eeeeee;
}	
	
.width_1{width: 1000px;}
.width_2{width: 960px;} 
.width_3{width: 696px;} 
 
#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    z-index: 999;
}

#middle {
 margin: 0 auto;
 padding-top: 95px;
}

#content_index {
    float: left;
    width: 100%;
    margin-top: 0px;
}

#content{
    float: left;
    margin-top: 10px;
	margin-right: 5px;	
}

#content ul{
	border: 1px solid #bbb;
}

.listcontent ul{
	margin-left:5px;
}

.listcontent ul li{
	margin:5px; 
	line-height:150%;
	border-bottom: 1px solid #bbb; 
	position:relative;
}
     
#sidebar {
	float: right;
    width: 230px;
    margin-top: 10px;
	padding: 10px;
	border: 1px solid #bbb;
}
	
.sidebar_wrapper {
    margin-bottom: 10px;
}
.sidebar_title { 
	margin: 0;
	padding: 10px 0 5px 0;
	font-weight:700;
	font-size:14px;
	z-index:1;
	overflow:hidden;
	border-top: 2px solid #576d74; 
	border-bottom: 1px solid #576d74;
}
.sidebar_title a {
	padding-right: 12px;
	background-image: url(../images/new_window_8x8.png);
	background-repeat: no-repeat;
	background-position: 100% 50%;
}  
.sidebar_content  {
	position:relative;
    overflow: hidden;
} 
.sidebar_content  ul li{
	position:relative;
	padding: 12px; 
	border-bottom: 1px solid #ddd;
    overflow: hidden;
	line-height:180%;
}
	
#footer {
	clear: both;
	padding:10px 0; 
	text-align:center; 
	font-size:12px;
}


#footer-nav { 
	margin: 5px 0 0 0;
	border-top:1px solid #ccc;
	padding:8px 0; 
}

#footer-nav ul, #footer-nav li { margin: 0; padding: 0; list-style: none; }
#footer-nav li { float: left; padding-right: 6px; line-height: 1; }